
@{
    ViewData["Title"] = "Login";
}

<form method="post" style="text-align:center">
    <div>
        <label for="urn">User Name</label>
        <input type="text" id="urn" name="urn"/>
    </div>
    <div>
        <label for="pwd">Password</label>
        <input type="password" id="pwd" name="pwd" />
    </div>
    <br />
    <div>
        <input type="submit"/>
    </div>
</form>

