@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Test Application </h1>
    <h2 class="display-4">Testing the CI/CD On Git Hub with Docker and Kubernetes</h2>
    <h2 class="display-4">Testing CI/CD by manually triggering it's job for Producion</h2>
    <h2 class="display-4">Testing and finding event of workflow_despatched</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
