@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Test Application</h1> <br /><br />
    <h5 style="color:green">Successfully completed CI/CD.....</h5>
    <h5 style="color:green">3rd Party Varification</h5>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
