@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Test Application </h1> <br /> <br />
    <h6 class="display-4">Testing the CI/CD On Git Hub with Docker and Kubernetes</h6>
    <h6 class="display-4">Testing CI/CD by manually triggering it's job for Producion</h6>
    <h6 class="display-4">Testing and finding event of workflow_despatched</h6>
    <h6 class="display-4">Testing and building my project Image Now</h6>
    <h6 class="display-4">Testing and building my project Image one more time for final Varification</h6>
    <h6 class="display-4">Testing and building my project Image ofter Deleting all tag images</h6>
    <h6 class="display-4">Testing and building my project Image ofter Deleting entire Repository</h6>
    <h6 class="display-4">Testing and building my project one last Test</h6>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
