@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Test Application</h1> <br /><br />
    <h4 class="display-4">Testing the CI/CD on GitHub with Docker and Kubernetes</h4>
    <h4 class="display-4">Testing CI/CD by manually triggering its job for Production</h4>
    <h4 class="display-4">Testing and finding event of `workflow_dispatch`</h4>
    <h4 class="display-4">Testing and building my project image now</h4>
    <h4 class="display-4">Testing and building my project image one more time for final Verification</h4>
    <h4 class="display-4">Testing and building my project image after deleting all tagged images</h4>
    <h4 class="display-4">Testing and building my project image after deleting the entire repository</h4>
    <h4 class="display-4">Testing and building my project for one last test</h4>
    <h4 class="display-4">Checking if Kubernetes uses the default `latest` tag in CI/CD</h4>
    <h5>Varification</h5>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
