@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Test Application</h1> <br /><br />
    <h5>Overriting the already presented latest image in Docker Hub with this newer image.....</h5>
    <h5>Everythning has set and hopping for the best......</h5>
    <h5>Debugging the Image Name in CI/CD</h5>
    <h5>Varification</h5>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
